body,ul, ol, li, p, h1, h2{
	margin:0;
	padding:0;}

body{
	background-color:#cebca4;
	margin-top:10px;

}
ul, ol{
	list-style-type:none;
	border: solid 1px white;
	margin-bottom:10px;}

/*------------DEBUT REGLES FORMULAIRE-------------*/

#form1{
	background-color:#336699;
	width:422px;
	margin:0 auto;
	padding:30px;
	}
 

ol li{

	background-color:rgba(255,255,255,0.2);
	width:420px;
	
}

ol li>label{
	display: block;
	width: 150px;
	float: left;
	margin-left:10px;
}

input[type="image"]{
	color:#FFF;
	display:block;
	width:150px;
	margin:0 auto;
	padding:15px;
	background-color:rgba(255,255,255,0.2);
	
	font-family:"Times New Roman", Times, serif;
	font-size:35px;
	
}
#contenu{
	width:960px;
	background-color:white;
 
}
#genre, #btnInscription{
	text-align:center;
}
