@charset "UTF-8";
/* CSS Document */

body{
	background-color:#cebca4;
	}

	
#conteneur{
	width:960px;
	margin:0 auto;
}

h1,h2{
	color:#000;
	}

#droite, #article, #piedcontenu, #menu ul{
	background-color:white;
	}

nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
	width:960px;
	height:20px;
	background-color:#99F;
	}

nav li{float:left;}

.cellules{
	display:block;
	width:130px;
	text-decoration:none;
	text-align:center;
	border-right:solid 1px #999;
}
/* ------------------------------------------------------------------------------- */
.entete{
	background-color:#ddd;
}
table
{
    border-collapse: collapse;
	margin: 20px;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
	height: 35px;

}
 
img {
padding:10px;
}
a {
  text-decoration: underline;
  color: #000;
}
a:visited {
  color: #844;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  color: #700;
  background: #07F;
}
a:focus{
outline:0;
}
hr{
	width:400px; 
	color:firebrick; 
	background-color:firebrick; 
	height:1px;
}
#theadTableF{ 
	width:100px;
}
.theadTable{ 
	width:140px;
}

.visuallyhidden.focusable:active, .focusable#ariala:active, .focusable#arialp:active,
.visuallyhidden.focusable:focus,
.focusable#ariala:focus,
.focusable#arialp:focus{
	border: 1px solid white;

 }
 
 .visuallyhidden{
	display:block;
	width:130px;
	text-decoration:none;
	text-align:center;
	border-right:solid 1px #999;
 }
 .titre{
	text-align:center;
 }
 
 .PrincipalActive{
	background-color: white;
		height:20px;
 }